<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes">
  <title>Edit wordbook</title>
  <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
  <div id="edit">
      <h3>Edit my wordbook</h3>
      <form action="/wordbooks/<%= wordbook._id %>?_method=PUT" method="POST">
        <div>
          <label for="name">Name:</label>
          <input type="text" name="category" id="category" placeholder="<%= wordbook.category %>" />
        </div>

        <button type="submit">Update</button>
      </form>
    </div>
</body>

</html>