<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="container">
      <p class="encouraging-text top-text">
        Every word you learn is a step closer to fluency.
      </p>
      <p class="encouraging-text bottom-text">
        Learning a new word today makes tomorrow easier.
      </p>
    </div>
  </body>
</html>
