<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <a href="/auth/login">Sign In</a>
    <a href="/auth/register">Sign Up</a>
  </body>
</html>
