<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/new.css">
  </head>
  <body>
    <div id="word">
      <h3>Add new wordbook</h3>
      <form action="/wordbooks" method="POST">
        <div>
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required />
        </div>

        <button type="submit">Add</button>
      </form>
    </div>
  </body>
</html>
