<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
</head>
<body>
  <h1>New wordbook</h1>
  <form action="/wordbooks" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required />
    <button type="submit">Add</button>
  </form>
</body>
</html>
