* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #f0f0f0;
  padding-top: 20px;
  padding: 20px 10px 0 10px;
  box-sizing: border-box;
  background-color: #202d38;
}
button {
  outline: none;
  border: none;
  color: #007bff;
  background: transparent;
  font-size: 16px;
}
#word {
  width: 100%;
  background-color: #202d38;
  color: white;
  box-sizing: border-box;
}
#word h3 {
  text-align: center;
  margin-bottom: 10px;
}
#word form {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#word input {
  height: 25px;
  background-color: #283540;
  border: none;
  outline: none;
  color: white;
  caret-color: #007bff;
  font-size: 14px;
}
#word button {
  width: 64px;
  height: 25px;
  background-color: #007bff;
  border-radius: 20px;
  outline: none;
  border: none;
  color: white;
}
input:focus {
  background-color: #e6f7ff; 
  border-color: #007bff;
  outline: none; 
}
input::placeholder {
  color: #999; 
}