<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My wordbooks</title>
  </head>
  <style>
     *{
      margin: 0;
      padding: 0;
    }
    body{
      font-family: Arial, sans-serif;
      height: 100vh;
      background-color: #f0f0f0;
    }
  </style>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <% if(words.length !== 0) { %>
    <ul>
      <% words.forEach((word)=>{ %>
      <li>
        <span> <%= word.name %> </span>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>There are no words in this wordbook</p>
    <% } %>
  </body>
</html>
